/*
!/.gitignore

!/etc/
/etc/*
!/etc/supervisord.conf
!/etc/my.cnf
!/etc/nginx/
!/etc/security/
/etc/security/*
!/etc/security/limits.conf

!/home/
/home/*
!/home/isucon/
/home/isucon/.viminfo
/home/isucon/.bash_history
